.login-content{
    --background: url('/../../assets/images/photo.jpg') 0 0/100%  no-repeat;
}


  .googlelogo{
    font-size: 4rem;
  }
  .escudo{
    padding-top: 5px;
    width: 13rem;
  }
  .logo {
    color: white !important;
    fill:white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
  }
  
  .description {
    color: white;
    font-size: 22px;
    text-align: center;
  }
  
  .log-in-button {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    font-weight: bold;
  }
  