<!-- <ion-header>
  <ion-toolbar text-center>
    <img class="escudo" src="../../assets/icons/distrifotografia.svg">

    </ion-toolbar>
</ion-header> -->

<ion-content class="login-content contenido" padding >
<div class="contenido">

  <ion-row>
    <ion-col>
      <img class="logo" src="../../assets/icons/iniciarsesion.svg"> 

      <!-- <img class="escudo" src="../../assets/icons/escudoUD.svg"> -->
      <p class="description">¡Bienvenido a distrifotografia!</p>
      <p class="description">Una increible aplicación donde podrás compartir tu experiencia aprendiendo fotografía y aprender de la experiencia de los demás.</p>
      <p class="description">Desarrollado por Andrea Segura y Johan Vargas</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

      <ion-button class="log-in-button" color="light"  expand="block" fill="outline" (click)="googleLogin()">
        <ion-icon class="googlelogo" name="logo-google"></ion-icon>
        INGRESA CON GOOGLE
      </ion-button>
    </ion-col>
  </ion-row>
  
</div>
</ion-content >
