<ion-header>
  <ion-toolbar>
    <ion-title>Fotografías seleccionadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row text-center> 
      <image-cropper [imageChangedEvent]="imageChangedEvent"  [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
        <!-- <img [src]="croppedImage"> -->
    </ion-row>
  </ion-grid>
</ion-content>


<ion-fab (click)="editarMetadatos()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-round-up"></ion-icon>
  </ion-fab-button>
</ion-fab>