
   
    
  
    /* Small for notifications */
    .badge-container {
      position: relative;
    }
  
    .custom-badge {
      position:absolute; 
      top:5px; 
      left:15px; 
      background: danger;
      border-radius: 100%; 
      color: #fff; 
      font-size: 12px !important;
      padding: 4px; 
      font-weight: bold;
    }
  
    .info {
      padding-top: 4px;
    }
  
    .avatar {
        width: 100px;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        padding-bottom: 10px;
        border-radius: 100%;
      }

    /* Profile edit button */
    .edit-button {
      background: #fff; 
      border: 1px solid #ccc; 
      font-size: 13px; 
      border-radius: 3px;
      padding: 5px;
      font-weight: bold;
      width: 90%;
      margin-right: 30px;
    }
  
    .edit-button:active {
      border-color: #dce2ed;
    }
  
    .caja-vacia{
      color:#C7C7C7;
       padding-top: 5%;
    }
    .caja-vacia p{
      font-size: 30px;
    }
    .icono-grande{
      font-size: 200px;
    }
    
  